<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid  bar-de-navigation">
      <a class="navbar-brand" href="/" >Coupart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav" >
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          <a class="nav-link" href="/contact">Contact</a>
          <a class="nav-link" href="/mon_compte">Profil</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </div>
          <div>
          {% if app.user %}

          <a style="color: rgb(23, 242, 23); margin-left: 65vw;" href="/logout" type="btn"><i class="fa-solid fa-user-check"></i></a>
          <a  style=" text-decoration: none; color: black; margin-left: 250%; margin-left: 20px;" ><strong>{{app.user.prenom }}</strong></a>
            {% else %}
           
            <a style="color: red; margin-left: 65vw;"  href="/login" type="btn "><i  class="fa-solid fa-user-slash"></i></a>
          {% endif %}

        </div>
      </div>
    </div>
  </nav>