<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid  bar-de-navigation">
      <a class="navbar-brand" href="/" >Coupart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          <a class="nav-link" href="/contact">Contact</a>
          <a class="nav-link" href="/profil">Profil</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          
          {% if app.user %}
          <a class="utilisateur" style=" text-decoration: none; color: black; margin-left: 250%; " >{{app.user.prenom }}</a>
          <a href="/logout" type="btn" style=" margin-left: 20px; width: 55px; height: 35px; background: blue; text-align: center; color: white; text-decoration: none; border-radius: 8px;"><strong>logout</strong></a>

            {% else %}
            <a href="/login" type="btn " style="width: 55px; height: 35px; background: blue; text-align: center; color: white; text-decoration: none; border-radius: 8px;"><strong>login</strong></a>
          {% endif %}

          
            
        </div>
      </div>
    </div>
  </nav>