



<div class="card accueil" style="width: 18rem;  background: red; ">
    <img src="{{ vich_uploader_asset(recette, 'imageFile')}}" class="card-img-top" alt="recettes">
      <div class="card-body ">
        <h5 class="card-title">{{ recette.description }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">voir</a>  
      </div>
    </div>

    