{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
  .liste-utilisateurs{
    
    margin-top: 20px;
    margin-left: 40vw; 
  }

</style>

{# affichage de la liste des utilisateurs, par une boucle {% for %} #}
{% for user in users %}
<div class="liste-utilisateurs">
    {{ user.prenom}}
    {% for role in user.roles %}
    
{# la condition {% if %}, precise si l'utilisateur est un patient ou un administrateur suivant son ROLE #}
       {% if role == "ROLE_USER" %}
        <strong class="role">patient</strong>

         {% elseif role == "ROLE_ADMIN" %}
         <strong class="role">administrateur</strong>

       {% endif %}
    {% endfor %}
 </div>
   
    

{% endfor %}
{% endblock %}