
{% extends 'base.html.twig' %}




{% block title %}Hello ProfilController!{% endblock %}
{% block body %}




 {#  la boucle {% for %}, affiche les recettes personnalisées de l'utilisateur #}

 <div class=" profil" >
  {% for recette in app.user.recettes %}

<div style="width: 200px; background: white; margin-top: 20px;" class="card-recettes  boitesRecettes" style="font-size: 0.8rem;">
  <img style="width: 200px; height: 150px;" src="{{ vich_uploader_asset(recette, 'imageFile')}}" class="card-img-recettes"   alt="recettes">
    <div class="card-body ">
      <h5 class="card-title"><h3>{{ recette.titre}}</h3></h5>
      <p class="card-text">description</p>
      <a class=" btn-primary" href="{{path('app_detail_recette', {'recette': recette.id })}}">voir</a>
      </div>

      
  </div>
                
{% endfor %}
 </div>
  
{% endblock %}


