{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}



{% block body %}

 <h3 style="margin-top: 20px;">test</h3>



    <div style="background: lightcoral;  margin-top: 50px; margin-left: 50px; width: 200px;">
            
            <br>
      
        
    </div>
    

    

   

{% endblock %}


