{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}



{% block body %}

<br>


{% for total in totals %}

    <div style="background: lightcoral;  margin-top: 50px; margin-left: 50px; width: 200px;">
            {{ total.titre }}
            <br>
        {{ total.description}}
        
    </div>
    



{% endfor %}

{% endblock %}