{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}

<style>
.liste-utilisateurs{
  
  margin-top: 20px;
  margin-left: 40vw; 
}
</style>
   
{% endblock  %}

{% block body %}


  
    
  

<div style=" margin-top: 20px; margin-left: 200px;  " class="card accueil" style="width: 18rem;">
  <img src="#" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title">{{ detail.description }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">voir</a>

   
  </div>
</div>
  
{{form_start(commentaire)}}

{{commentaire}}

{{form_end(commentaire)}}

{% endblock %}