{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}



{% block body %}
<div class="row  list-container">
   {% for recette in recettes %}
    
        <div class="card accueil" style="width: 18rem;">
          <img src="{{ vich_uploader_asset(recette, 'imageFile')}}" class="card-img-top" alt="recettes">
            <div class="card-body ">
              <h5 class="card-title">{{ recette.titre}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{path('app_detail_recette', {'recette': recette.id })}}" class="btn btn-primary">voir</a>  
            </div>
          </div>
    
    

{% endfor %}
</div>
    
{% endblock %}

{% block javascripts %}

    
{% endblock  %}




