{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}

<style>
.liste-utilisateurs{
  
  margin-top: 20px;
  margin-left: 40vw; 
}
</style>
   
{% endblock  %}

{% block body %}

{% for user in users %}
<div class="liste-utilisateurs">
    {{ user.prenom}}
    {% for role in user.roles %}

       {% if role == "ROLE_USER" %}
        <strong>patient</strong>

         {% elseif role == "ROLE_ADMIN" %}
         <strong>administrateur</strong>

       {% endif %}
    {% endfor %}
 </div>
   
    

{% endfor %}
{% endblock %}