{% extends 'base.html.twig' %}

{% block title %}Hello ContactsController!{% endblock %}



{% block body %}

<style>

    .contactForm{
        
        margin-top: 20px;
        margin-left: 40vw;
    }
</style>


     <div class="contactForm">
        {{ form( contactForm )}}
     </div>
    

  
{% endblock %}
